# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Data (VERY IMPORTANT)
# =========================
data
*.mp3
*.flac

# =========================
# Experiment artifacts
# =========================
wandb/
mlruns/

# =========================
# Misc
# =========================
.cache/
temp/
